{% extends 'journal/base.html' %} 
{% block title %}Lista uczniów{% endblock %}
{% block content %}
<h1>Lista uczniów</h1>
<ul>
  {% for student in students %}
  <li>
    {{ student.first_name }} {{ student.second_name }} (Klasa: {{ student.class_number }})
    {% if student.user %}
    <p> Student ma konto</p>
    {% endif %}
    {% if user.is_staff %}
    <a href="{% url 'student_update' student.pk %}">Edytuj</a>
    <a href="{% url 'student_delete' student.pk %}">Usuń</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
<a href="{% url 'student_add' %}">Dodaj ucznia</a>
{% endblock %}
